* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(180, 52%, 96%);
}

body,
button {
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  color: hsl(180, 29%, 50%);
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.1s ease-out;
}

a:hover {
  color: hsl(180, 29%, 50%);
  transition: 0.1s ease-in;
}

/* header */

header {
  width: 100%;
}

.header-bg {
  height: 156px;
  background: hsl(180, 29%, 50%);
  overflow: hidden;
}

.header-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* jobs */

.jobs-container {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.job-container {
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 30px hsla(180, 29%, 50%, 0.25);
  width: 1110px;
  height: 150px;
  margin: auto;
  padding: 31px 40px;
}

.job-left {
  display: flex;
  gap: 25px;
}

.job-details {
  display: flex;
  font-size: 14px;
  color: hsl(180, 8%, 52%);
  list-style: none;
  align-items: center;
}

.job-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: hsl(180, 8%, 52%);
  margin: 0 20px;
}

/* job right */

button {
  padding: 10px 8px 7px;
  border-radius: 4px;
  background: hsl(180, 31%, 95%);
  border: none;
  font-weight: 700;
  color: hsl(180, 29%, 50%);
  transition: 0.1s ease-out;
  cursor: pointer;
}

button:hover {
  color: white;
  background: hsl(180, 29%, 50%);
  transition: 0.1s ease-in;
}

.job-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.job-languages,
.job-tools {
  display: flex;
  gap: 15px;
}

/* filters */

.filter {
  width: 1110px;
  height: 70px;
  background: white;
  top: 121px;
  left: 50%;
  margin-left: -555px;
  border-radius: 5px;
  box-shadow: 0 10px 30px hsla(180, 29%, 50%, 0.25);
  position: absolute;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
  gap: 15px;
}

.filter button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.filters:empty .filter {
  display: none !important;
}

.clear {
  background: none;
  border: none;
}

.clear-filters {
  position: absolute;
  right: 0;
  padding-right: 40px;
  background: white;
}

.clear:hover {
  text-decoration: underline;
  color: hsl(180, 29%, 50%);
  background: unset;
  transition: 0.1s ease-in;
}
